body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.span{
    color: blue;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shaker{
    width: 50%;
}
.hero{
    display: flex;
}
h3{
    color: coral;
}
h1{
    color: crimson;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.baby{
    box-shadow: 10px 10px 40px yellowgreen;
    width: 50%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer P{
    text-align: center;
    height: 30%;
}